<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/css/styles.css">
    <title>Listado Peliculas</title>
</head>
<body>
    <h1>LISTADO MOVIES</h1>
<ul>
<% for(let i =0; i< peliculas.length; i++) { %>
    
<li>

   <a href="/detalle/<%= peliculas[i].id %> "><%= peliculas[i].title %> </a>

</li>

    <% } %> 


</ul>
</body>
</html>