<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        integrity="undefined" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>LOG IN</title>
</head>

<header>

    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand hola">LOGEADO</a>
            <ul class="nav justify-content-end">


                <li class="nav-item navbar-menu">
                    <a class="btn btn-outline-success" role="button" aria-pressed="true" href="/">Volver</a>
                </li>
                </li>
            </ul>
        </div>
    </nav>
</header>

<body>

    <div class="container detalle">

        <p class="h1">Ya estas Logueado como: <%= name %> </p>
       
    </ul>
    </div>


</body>

</html>